<!doctype html>
<html>
<head>
  <title>See and Sync</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
  <header>
    <h1>See and Sync</h1>
  </header>
  <section class="topProfile" >
    <h2>My Videos</h2>
    <h4>Add a Video</h4>
    <input id="videoUrl" type="" name="" value="" placeholder="youtube video url" >
    <button id="getVideo" type="submit" name="button">Add</button>
  </section>

  <% for(let i=0; i < posts.length; i++){ %>

    <!-- <button data-videoId="<%= posts[i].videoId %>" class="initiate" type="button">video</button> -->




    <div class="container">

      <section class="myPosts" >


        <div id="youtubePlayer<%= i %>">

        </div>
        <a href="/oneVideo/<%= posts[i].videoId %>"> <button type="button" name="button">View Post</button></a>
      <button  class="remove" data-delete="<%= posts[i].videoId %>" type="button" name="button"><i class="far fa-trash-alt"></i></button>
      </section>
      <% } %>



    </div>

    <!-- <script src="https://www.youtube.com/iframe_api" type="text/javascript"></script> -->

    <script src="main.js" type="text/javascript"></script>
    <script type="text/javascript">
    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    <% for(let i=0; i < posts.length; i++){ %>
      var player<%= i %>;
      <% } %>
      function onYouTubeIframeAPIReady() {
        <% for(let i=0; i < posts.length; i++){ %>
          player<%= i %> = new YT.Player('youtubePlayer<%= i %>', {
            height: '390',
            width: '640',
            // videoId: 'M7lc1UVf-VE',
            videoId: '<%= posts[i].videoId %>',
            events: {}
          });
          <% } %>
        }

      </script>
    </body>
    </html>
